@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family:'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 5px;
    user-select: none;
}
body {
    height: 100vh;
    background: linear-gradient(-50deg, #e66465, #9198e5);
    
}
main {
    position: relative;
    width: 95vw;
    height: 95vh;
    }
section.player_0{
    background-color: white;
    width:20%;
    height:60%;
    position:absolute;
    margin-left: 10%;
    margin-top: 8%; 
    padding-top:1%;
    text-align: center;
}
section.player_1{
    background-color: white;
    width:20%;
    height:60%;
    position:absolute;
    margin-left: 75%;
    margin-top: 8%; 
    text-align: center;
    padding-top:1%;
}
.player_winner{
    color :black;
}
h2 {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.score {
    font-size: 3rem;
    color: rgb(157, 17, 17);
    height: 85px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.current{
    font-size: 2rem;
    color: rgb(4, 4, 4);
    height: 85px;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
button {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight:700;
    height: auto;
    text-align: center;
    padding: 5px;
    margin-left:46%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
button.btn_new{
    margin-top:5% ;
    margin-left:46%;  
}

button.btn_roll{
    margin-top:30%;
    margin-left:45%;
}
button.btn_hold{
    margin-top:35%;
    margin-left:50%;  
}
.rules{
    font-size: 1.3rem;
    position: absolute;
    margin-top:42%;
   margin-left:35%;
}
img{
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin-left:45%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

